
/* blog section */

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-left: 24px;
}

.blog {
    border: 1px solid lightgray;
    border-radius: 10px;
    /* width: 23%; */
    max-width: 270px;
    padding: 10px;
}

.blog h2,
.blog p {
    text-align: center;
}
.blog-image{
    display: flex;
}
.blog-image img {
    width: 50%;
    height: 50px;
}

.blog-icons {
    margin-left: 10px;
    margin-bottom: 10px;
}

.fa-clock {
    color: #666666;
}

.chat {
    margin-left: 20px;

}

.chat img {
    position: relative;
    top: 7px;
}
